body{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    min-width: 20vw;
    min-height: 20vh;
    transition: 0.5s;
    font-family: 'Courier New', Courier, monospace;
}


.boxyellow {
    background: #cde20c;
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.boxred {
    background: #ff0000;
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.boxblue {
    background: #2600ff;
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.boxgreen {
    background: #00ff15;
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

@media (max-width: 768px){
    body{
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
 }
    .boxyellow{
     
    width: 600px;   
    }
    .boxred{
     
        width: 600px;   
        }
        .boxblue{
     
            width: 600px;   
            }
            .boxgreen{
     
                width: 600px;   
                }

}
